<table>
	<tr>
		<td>user</td>
		<td>comment</td>
		<td>video</td>
	</tr>
	<% @comment.each do |comment|%>
	<tr>
		<td><%= comment.user.account_name unless comment.user.nil? %></td>
		<td><%= comment.comment %></td>
		<td><%= comment.video.name unless comment.video.nil?  %></td>
		<td><%= link_to "edit comment", edit_comment_path(comment.id)%></td>
		<td><%= button_to "delete comment", comment, method: :delete %></td>
	</tr>
	<% end %>
</table>