<%=form_for(@comments) do|f| %>
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>

	<div class="field">
		<p>comment</p>
		<%=f.text_area :comment%>
	</div>
	
	<div class="field">
		<p>video</p>
		<%=f.collection_select :video_id, Video.all, :id, :name %>
	</div>
	
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>