<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<%=form_for(@comments) do|f| %>
	<div class="field">
		<p>user</p>
		<%=f.collection_select :user_id, User.all, :id, :account_name %>
	</div>
	<div class="field">
		<p>comment</p>
		<%=f.text_field :comment%>
	</div>
	
	<div class="field">
		<p>video</p>
		<%=f.collection_select :video_id, Video.all, :id, :name %>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>