<%=form_for @comment do|f| %>
	

  	<div > 
    	<% if @comment.errors.any? %>
      		<ul>
        		<% @comment.errors.full_messages.each do |msg| %>
          		<li class="error_msg"><%= msg %></li>
        		<% end %>
      		</ul>
      	<% end %>
  	</div>


	<div class="field">
		<%= f.hidden_field :user_id, :value=>current_user.id %>
	</div>

	<div class="field">
		<p>comment</p>
		<%=f.text_area :comment%>
	</div>
	
	<div class="field">
		<p>video</p>
		<%=f.collection_select :video_id, Video.all, :id, :name %>
	</div>
	
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>