<table>
	<tr>
		<td>user name</td>
		<td>email</td>
		<td>location</td>
		<td>age</td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.account_name, users_show_path(user.id) %></td>
		<td><%= user.email %></td>
		<td><%= user.location %></td>
		<td><%= user.age %></td>
		<% if user == current_user %>
			<td><%= link_to "edit your account", edit_user_registration_path %></td>
		<% end %>
	</tr>
	<% end %>
</table>