<div>
	<p>Username: <%= @user.account_name %></p>
	<p>Email: <%= @user.email %></p>
	<p>Age: <%= @user.age %> </p>
	<p>Location: <%= @user.location %> </p>

	<p><%= link_to "edit user", edit_user_registration_path %> </p>
</div>
