<script>
	$("#users").addClass("active");
</script>


<div>
	<p>Username: <%= @user.account_name %></p>
	<p>Email: <%= @user.email %></p>
	<p>Age: <%= @user.age %> </p>
	<p>Location: <%= @user.location %> </p>

	<p><%= link_to "edit user", edit_user_registration_path %> </p>

	<h2>Videos:</h2>
	<% @videos.each do |video| %>
		<div class="users_videos">
			<h3><%= link_to video.name, video_path(video.id) %></h3>
			<h3><%= video.file %></h3>
		</div>
	<% end %>
</div>
