<h2>Videos:</h2>

<table>
	<% @videos.each do |video|%>
	<tr>
		<td> <h4><%= link_to video.name, video_path(video.id) %> </h4>
		<%= video_tag video.file, :controls => true %></td>
		<td>Posted by <%= link_to video.user.account_name, users_show_path(video.user.id) %></td>
		<% if video.user == current_user %>
			<td><%= button_to "delete video", video, confirm: "Are you sure you want to delete this video?", method: :delete %></td>
			<td><%= button_to "edit video", edit_video_path(video) %></td>
		<% end %>
	</tr>
	<% end %>
</table>