<table>
	<tr>
		<td>file</td>
		<td>user</td>

	</tr>
	<% @videos.each do |video|%>
	<tr>
		<td> <h4><%= link_to video.name, video_path(video.id) %> </h4>
		<%= video_tag video.file, :controls => true %></td>
		<td><%= video.user.account_name %></td>
		<td><%= button_to "delete video", video, method: :delete %></td>
		<td><%= link_to "edit video", edit_video_path(video.id) %></td>
	</tr>
	<% end %>
</table>