<%=form_for @video do|f| %>
	<div class="field">
		<p>file</p>
		<%= f.text_field :file %>
	</div>
	
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	
	<div class="field">
		<p>Video Title</p>
		<%=f.text_field :name %>
	</div>

	<div class="actions">
		<%=f.submit%>
	</div>
<% end %>