<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "new user", new_user_path %>
<%= link_to "all user", user_path %>

<%= link_to "new video", new_video_path %>
<%= link_to "all videos", video_path %>

<%= link_to "new comment", new_comment_path %>
<%= link_to "all comments", comment_path %>
