<div>
	<ul>
		<li> <%= link_to "Make a new user", new_user_path, class:"body_link" %> </li>
		<li> <%= link_to "List all users", users_path, class:"body_link" %> </li>

		<li> <%= link_to "Post a new video", new_video_path, class:"body_link" %> </li>
		<li> <%= link_to "List all videos", videos_path, class:"body_link" %> </li>

		<li> <%= link_to "Post a new comment", new_comment_path, class:"body_link" %> </li>
		<li> <%= link_to "List all comments", comments_path, class:"body_link" %> </li>
</div>