<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="nav_bar">
		<div class="left_options">
			<ul class="nav_buttons">
				<li class="head_list"><%= link_to "Home", root_path, class: "head_link" %></li>
				<li class="head_list"><%= link_to "All Users", users_index_path, class: "head_link" %> </li>
				<li class="head_list"> <%= link_to "All Videos", videos_path, class: "head_link" %> </li>
				<li class="head_list"> <%= link_to "All Comments", comments_path, class: "head_link" %> </li>				
			</ul>
		</div>
		<div id="right_opt">
			<p class="notice"><%= notice %> </p>
			<p class="alert"><%= alert %> </p>
			<p><%= link_to "Edit User", edit_user_registration_path, :class => "head_link" %></p>
			<% if user_signed_in? %>
			<p><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "head_link" %></p>
			<% else %>
			<p><%= link_to 'Login', new_user_session_path, :class => "head_link" %></p>
			<% end %>
			
		</div>
	</div>


<%= yield %>

</body>
</html>
