<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://ucarecdn.com/widget/1.0.1/uploadcare/uploadcare-1.0.1.min.js" charset="utf-8"></script>
  <script type="text/javascript"> UPLOADCARE_PUBLIC_KEY = '63f82a767f4957b67974'
  UPLOADCARE_AUTOSTORE = true;
 </script>

</head>
<body>

	<div class="nav_bar">
		<div id="left_options">
			<ul>
				<li class="head_list"><%= link_to "Home", root_path, class: "head_link", id: "home" %></li>
				<li class="head_list"><%= link_to "All Users", users_index_path, class: "head_link", id: "users" %> </li>
				<li class="head_list"> <%= link_to "All Videos", videos_path, class: "head_link", id:"videos" %> </li>
			</ul>
		</div>
		<div id="right_opt">
			<ul>
				<% if user_signed_in? %>
					<li class="head_list"><%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "head_link" %></li>
					<li class="head_list"><%= link_to "Edit User", edit_user_registration_path, :class => "head_link" %></li>
				<% else %>
					<li class="head_list"><%= link_to 'Login', new_user_session_path, :class => "head_link" %></li>
				<% end %>
			</ul>
			<div id="dropdown">
				<p class="notice"> <%= notice %></p>
				<p class="alert"> <%= alert %></p>
			</div>
		</div>
	</div>

<div class="content">
	<%= yield %>
</div>

	<div class="footer">
		<p class="contact">Contact me at blowenstein93@gmail.com for more information about this app</p>
	</div>

</body>
</html>
