<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="nav_bar">
		<div class="left_options">
			<ul class="nav_buttons">
				<li class="head_list"><%= link_to "Home", root_path, class: "head_link" %></li>
				<li class="head_list"><%= link_to "All Users", users_path, class: "head_link" %> </li>
				<li class="head_list"> <%= link_to "All Videos", videos_path, class: "head_link" %> </li>
				<li class="head_list"> <%= link_to "All Comments", comments_path, class: "head_link" %> </li>				
			</ul>
		</div>
	</div>

<%= yield %>

</body>
</html>
